h1{
  font-family: 'Indie Flower', cursive;
  font-size: 5.5em;
  text-align: center;
  color: #ed15a5;
}

body{
  background-color: #42f49b;
}

h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 1em;
  color: purple;
}

h2#instructions {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  padding: 25px;
  text-align: center;
  color: purple;
  background-color: white;
}
/*TODO: make the instructions paragraph default to display none
and change it on hover.*/
p{
   font-family: "Indie Flower", cursive;
   color: #ed15a5;
   text-align: center;
   font-size: 1.2em;
   padding: 25px;
   background-color: white;
   /*display: none;*/
 }

.start{
   text-align: center;
 }
.player1-playing {
  text-align: center;
  background-image: url(images/lisa-simpson.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: inherit;

}
.player2-playing {
  background-image: url(images/homer-simpson.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#p1finishLine{
  background-image: url(images/donut.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#p2finishLine{
  background-image: url(images/donut.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
 .trackSize {
   background-color: white;
   border: 2px solid grey;
   height: 80px;
   max-width: 20%;
 }

.win-banner{
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  color: #f70000;
  display: none;
}
/*footer {
  background-color: black;
  color: white;
  position: relative;

}*/